*{
    font-family: monospace;
    transition: all 200ms ease-in-out;
}
body{
    background-color: rgba(220,220,220, 0.1);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}
.logo img{
    width: 100px;
    height: 80px;
}
.nav{
    display: inline-block;
}
header a:hover{
   color: #0384EE;
}
header a{
    color: #000000;
 }
.nav a{
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
    color: black;
}
.nav a:hover{
    color: #0384EE
}
.clubs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}
.club{
    background-color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 45px;
    margin-top: 40px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 0.8;
    border-radius: 5px;
}
.club h2{
    color: #0384EE;
    font-weight: bolder;
}
.club .date{
    color: #0384EE;
    font-weight: bold;
}
.club p{
    text-align: justify;
}
.categorie{
    font-size: 12px;
    font-weight: 200;
}
.club:hover{
    width: 320px;
    font-size: medium;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 13px;
    opacity: 1;
}
footer {
    background: transparent;
    text-align: center;
    height: 100px;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 0;
}
.footer-social a i {
    color: black;
    display: inline;
    margin-left: 30px;
    text-decoration: none;
}
.search-container {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
input[type="text"] {
    margin-top: 20px;
    width: 500px;
    display: block;
    font-size: 18px;
    font-weight: 100;
    color: #636a70;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    border: none;
}

input:focus,active{
border: none;
}
a{
    text-decoration: none;
}
.contact{
    width: 100%;
    height: 600px;
    background-color: #0384EE;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
}
.contact .text{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}
.contact .text h1{
color: #ffffff;
    width: 22ch;
     animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    text-shadow: #f2f2f2 0px 1px;
}
.active {
    background-color: #717171;
  }
  
  .mySlides {display: none;}
  .mySlides img {vertical-align: middle;
height: 400PX;
width: 600px;
border-radius: 5px;
box-shadow: #717171 0px 3px 12px;}
 
.contact .form{
    width: 700px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 10px;
    background-color: white;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form input{
    padding: 10px;
    border: none;
    background-color: rgba(220,220,220, 0.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px;
    margin: 20px;
    width: 90%;
}
.form textarea{
    padding: 10px;
    border: none;
    background-color: rgba(220,220,220, 0.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px;
    margin: 20px;
    color: #888;
    width: 90%;
}

button{
    width: 100px;
    margin-left: 2%;
    margin-top: 10px;
    height: 40px;
    background-color: #0384EE;
    color: white;
    border: #0384EE solid;
}
button:hover{
    color: #0384EE;
    background-color: white;
}
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    width: 40%;
    margin-left: 30%;
    background-color: white;
    box-shadow: rgb(213, 208, 208) 0px 3px 8px;
    margin-top: 8%;
    border-radius: 5px;
    padding: 20px;
  }
  .container form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    width: 100%;
  }
  .container a{
    font-size: 12px;
    text-decoration: none;
    color: #000000;
  }
  .container a:hover{
    font-size: 12px;
    text-decoration: none;
    color:#0384EE
  }
  .container form input{
    margin: 10px;
    padding: 15px;
    border: none;
    border-bottom: #0384EE solid;
    background-color: transparent;
    width: 60%;
  }
  .container form textarea{
    margin: 10px;
    padding: 15px;
    border: none;
    border-bottom: #0384EE solid;
    background-color: transparent;
    width: 60%;
    color: #888;
}
  .container form select{
    margin: 10px;
    padding: 15px;
    border: #ffffff solid;
    border-bottom: #0384EE solid;
    background-color: transparent;
    width: 60%;
    color: #888;
  }
  .container h1{
    color: #0e78cf;
    width: 22ch;
     animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    text-shadow: #f2f2f2 0px 1px;
  }
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
.footer-social i:hover{color: #0384EE;}
span{
    padding: 6px 20px;
    background-color: #0384EE;
    box-shadow: #b1b1b1 0px 3px 8px;
    margin: 10px;
    color: #ffffff;
    border: #0384EE solid;
}
span:hover{
  background-color: #FFFFFF;
  color: #0384EE;
}
.span:hover{
    background-color: #FFFFFF;
    color: #0384EE;
}
.span{
    padding: 6px 20px;
    background-color: #0384EE;
    box-shadow: #b1b1b1 0px 3px 8px;
    margin: 10px;
    color: #ffffff;
    border: #0384EE solid;
    text-decoration: none;
}
.cont{
    margin-top: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
td{
    min-width: 80px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: #0384EE;
  }
  .dropdown-content p {
    font-weight: 300;
    color: #000000;
  }
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    min-height: 100px;
  }